<!DOCTYPE HTML>
<html>
<head>
    <script src="/static/bootstrap/js/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/script.js"></script>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title></title>
</head>
<body>

<div class="header">
    <div class="header-logo">
        <a href="#"></a>
        <img class="logo" src="{{ url_for('static', filename="images/ubox-logo.png") }}">

        <div class="header-right"
             {% if current_user.is_authenticated %}
        <button role="presentation" class="btn btn-danger btn-sm"><a class="white-link" href={{url_for('auth.logout')}}>LOG
            OUT</a></button>
        {% if current_user.is_authenticated %}
        {{ current_user.username }}
        {% endif %}
        {% endif %}
    </div>

</div>

<div class="container">
    <div class="row">
                {% block content %}
                {% endblock %}
    </div>
</div>
</body>
</html>
