<!DOCTYPE HTML>
<html>
<head>
    <script src="/static/bootstrap/js/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/script.js"></script>

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <title></title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="header">
            <div class="header-logo">
                <a href="{{url_for('main.index')}}">
                <img class="logo hidden-phone" src="{{ url_for('static', filename='images/ubox-logo.png') }}">
                <img class="logo hidden-desktop" src="{{ url_for('static', filename='images/ubox-logo-phone.png') }}" style="padding-left: 20px">
                </a>

                <!-- Dropdown menu -->
                <div class="header-right">
                    <div class="col-md-1">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                {% if current_user.is_authenticated %}
                                {{current_user.username}}
                                {% endif %}
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li><a href={{url_for('auth.logout')}}>LOGOUT</a></li>
                                <li><a href="{{url_for('auth.edit_profile')}}">USER DETAILS</a></li>
                                <li><a href="{{url_for('auth.change_password')}}">CHANGE PASSWORD</a></li>
                                {% if current_user.is_authenticated %}
                                <li><a href="#">{{ '%.2f' %(current_user.storage_used/ current_user.storage *100) }}% STORAGE</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end dropdown menu -->

            </div>

        </div>
    </div>

    <div class="container">

        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        <div class="row">
            <div class="content-primary">
                <div class="content-header">
                    <a class="white-link" href="{{ url_for('main.root') }}">FILE MANAGER</a>
                    <a class="white-link" href="{{ url_for('share.shared') }}">SHARING</a>
                </div>
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
