{% extends "base.html" %}

{% block content %}

{% if files|length > 0 %}
{% for i in files_dict %}
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="col-md-8">
            <span class="{{ classmaker(files_dict[i].file_name) }}" style="margin-right:10px;"></span>
            <a href="#" data-toggle="modal" data-target="#sharedModal-{{ i }}">
                <span class="glyphicon glyphicon-link"> {{files_dict[i].file_name}}</span>
            </a>
        </div>

        <div class="col-md-4">
            <a href="#">

            <div class="download">
                <span class="glyphicon glyphicon-remove" style="margin-right:10px;"></span>
                <a href="{{ url_for('share.remove_shared_file', file_id=files_dict[i].id)}}">Remove</a>
            </div>
            </a>
        </div>
    </div>
</div>
<div id="sharedModal-{{ i }}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Shared Link</h4>
      </div>
      <div class="modal-body">
          <div class="link-text-area">
          <textarea style="width: 100%" id="link-{{ i }}">{{url_for('share.token_unload', token=files_dict[i].file_url, _external=True) }}</textarea>
          </div>
           <button class="btn" data-clipboard-action="copy" data-clipboard-target="#link-{{ i }}">Copy</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
      <!-- endModal -->

  </div>
</div>
{% endfor %}
{% endif %}
<script src="https://cdn.jsdelivr.net/clipboard.js/1.6.0/clipboard.min.js"></script>
<!-- 3. Instantiate clipboard -->
    <script>
    var clipboard = new Clipboard('.btn');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>
{% endblock %}
